@import "tailwindcss";

:root {
  --main-color: #f76188;
  --sec-color: #fee7ed;
  --sec-color-2:#f9c6d4;
  --main-border: 1px dashed #f76188;
  --text-muted: #666b74;
}
button{
  cursor: pointer;
}



/* Loader Component */
.text-loading {
  display: flex;
  gap: 4px;
  font-size: 65px;
  font-weight: bold;
  perspective: 1000px;
  color: white;
}

.letters-loading {
  display: inline-block;
  opacity: 0;
  transform-origin: right center;
  transform: rotateY(90deg);
  animation: flipFromRight 1.8s ease forwards;
}

.letters-loading:nth-child(1) { animation-delay: 0s; }
.letters-loading:nth-child(2) { animation-delay: 0.2s; }
.letters-loading:nth-child(3) { animation-delay: 0.4s; }
.letters-loading:nth-child(4) { animation-delay: 0.6s; }
.letters-loading:nth-child(5) { animation-delay: 0.8s; }
.letters-loading:nth-child(6) { animation-delay: 1s; }

@keyframes flipFromRight {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* Shape Animations */

/* Spin effect */
.spin-element {
  display: inline-block;     
  animation: spin 10s linear infinite;
  transform-origin: center; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* float y effect */
.float-element{
  display: inline-block;         
  animation: float 4s ease-in-out infinite; 
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px); 
  }
  100% {
    transform: translateY(0px);
  }
}
/* float x effect */
.float-x-element{
  display: inline-block;         
  animation: floatx 5s ease-in-out infinite; 
}

@keyframes floatx {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-35px); 
  }
  100% {
    transform: translateX(0px);
  }
}